*{
	margin:0px;
	padding:0px;

}
body{
	text-align:center;

	background:url('mainBackground.jpg') no-repeat center center fixed;
	background-size: cover;

	
}
#main{
	border: 1px solid red;
	width:1000px;
	background-color:aqua;
	margin-left:auto;
	margin-top:20px;
	margin-right:auto;
	text-align:left;
	opacity:0.7;
}
header{
	background-color:red;
	padding:10px;
	margin:20px;

}
nav{
	background-color:blue;
	float:left;
	width:20%;
}
section{
	float:center;
	margin:auto;
	width:60%;
	background-color:green;
}
aside{
	float:right;
	width:20%;
	background-color:yellow;
}
footer{
	text-align:center;
	width:100%;
	padding:10px;

}